anyio
argon2-cffi
async-generator
attrs
backcall
bleach
cffi
contextvars
cycler
dataclasses
decorator
defusedxml
entrypoints
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
#pkg-resources
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
Send2Trash
six
sniffio
terminado
testpath
tornado
traitlets
typing-extensions
voila
wcwidth
webencodings
widgetsnbextension
zipp
